<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="newContact()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="contact.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="contact.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mensagem</ion-label>
      <ion-input type="text" [(ngModel)]="contact.msg" name="msg"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Enviar</ion-button>
  </form>
</ion-content>
