<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>SeuEsporte!</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <p>Desenvolvido por: João Vitor Soares de Farias</p><br>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
